


/* 1ª SESSÃO DA HOME */
#primeira-secao{
    display: flex;
    padding: 50px 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.carousel-item{
    height: 380px;
}

.carousel-item > img{
    display: block;
    height: 100%;
    width: 100%;
}


section h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000;
}

/* 2ª SESSÃO DA HOME */
#segunda-secao {
    /* position: relative; */
    /* torna o elemento pai posicionado para que o elemento pseudo possa ser posicionado em relação a ele */
    /* background-image: url('../images/3898.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
    /* background-color: rgba(0, 0, 0, 0.1) !important; */
    /* aplica a cor de fundo com opacidade na seção */
  }


/* 3ª SESSÃO DA HOME */
#terceira-secao{
    background-color: #ECECEC;
}

