


/* 1ª SESSÃO DA HOME */
#primeira-secao{
    display: flex;
    padding: 50px 50px;
    width: 100%;
}

.carousel-item{
    height: 380px;
}

.carousel-item > img{
    display: block;
    height: 100%;
    width: 100%;
}

.rounded .carousel-inner {
    border-radius: 20px;
    overflow: hidden;
  }

  .carousel.rounded .carousel-item {
    border-radius: 20px;
  }

  .carousel.rounded .carousel-control-prev,
  .carousel.rounded .carousel-control-next {
    border-radius: 50%;
  }


  .custom-shadow {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5) !important; /* Exemplo de sombra personalizada */
  }


section h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000;
}

/* SESSÃO DE IMAGENS */
.circle-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo-image {
    max-width: 80%;
    max-height: 80%;
  }

  .circle-container:hover .logo-image {
    transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
}


/* 2ª SESSÃO DA HOME */
#segunda-secao {
    background-color: #ECECEC;
    /* position: relative; */
    /* torna o elemento pai posicionado para que o elemento pseudo possa ser posicionado em relação a ele */
    /* background-image: url('../images/3898.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
    /* background-color: rgba(0, 0, 0, 0.1) !important; */
    /* aplica a cor de fundo com opacidade na seção */
  }


/* 3ª SESSÃO DA HOME */
#terceira-secao{

}

