

.logo{
    max-width: 120px;
    border-radius: 8px;
    background-color: #FFF;
}

.default-size{
    width: 100%;
    height: 100%;
}

.default-width{
    width: 100%;
}

footer{
    background-color: #212121;
}

header{
    width: 100%;
}

body{
    min-height: 100vh;
}

.material-icons, .material-icons-outlined{
    cursor: default;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-48 {
    font-size: 64px;
}

.material-icons.md-dark {
    color: #212121;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.hand-cursor{
    cursor: pointer;
}

#search-bar{
    width: 70%;
}

.ui-menu{
    z-index: 999 !important;
}

.product-card-container{
    max-width: 1264px;
}

.image-fit{
    aspect-ratio: 9/9;
    object-fit: contain;
}

.fs-7{
    font-size: 0.75rem;
}

.product-card{
    position: relative;
    top: 0;
    transition: top ease 0.4s;
}

.product-card:hover{
    top: -8px
}

input[type="range"]::-webkit-slider-thumb{
    cursor: pointer;
}

.custom-hover-link:hover{
    color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important ;
}

.w-min{
    width: min-content;
}

#main-navbar .nav-item .active{
    text-decoration: underline;
}

#main-navbar .nav-item{
    transition: background-color .25s ease;
}