.logo{
    max-width: 200px;
    border-radius: 8px;
    background-color: #FFF;
}

.default-size{
    width: 100%;
    height: 100%;
}

.default-width{
    width: 100%;
}

header, footer{
    background-color: #212121;
}

body{
    min-height: 100vh;
}



.material-icons, .material-icons-outlined{
    cursor: default;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-48 {
    font-size: 64px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.hand-cursor{
    cursor: pointer;
}

#search-bar{
    width: 40%;
}

.ui-menu{
    z-index: 999 !important;
}
