#product-carrousel .carousel-inner {
    height: 490px
}

#product-carrousel .carousel-control-prev, #product-carrousel .carousel-control-next {
    background-color: #e1e1e1;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 25%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}